# Service status check library

case $1 in
	'check_special_service')
		GREEN='<span style="color: #00aa00;">'
		RED='<span style="color: #ff0000;">'

		get_reply()
		{
			$2 status > /dev/null 2>&1 && \
				echo -n "${GREEN}Running</span>" || \
				echo -n "${RED}Stopped</span>"
		}
		get_reply `whereis $2`
	;;
esac
