# Interface listing library
# Command stack: firewall.sh cat grep tr ifconfig

case $1 in
	'interfaces')
		SETTINGS=`firewall.sh where-are-you`
		. $SETTINGS/networks.rc
		case $2 in
			'wan')
				IFACE=$WAN
			;;
			'lan')
				IFACE=$LAN
			;;
			'ppp')
				IFACE=$PPP
			;;
			'1gbps')
				IFACE=$G1
			;;
			'100mbps')
				IFACE=$M100
			;;
			'wifi')
				eval `cat /etc/hostapd/hostapd.conf | grep interface=. | grep -v ctrl`
				IFACE=$interface
			;;
			'wifi-in')
				eval `cat /etc/wicd/manager-settings.conf | grep 'wireless_interface = ' | tr -d ' '`
				IFACE=$wireless_interface
			;;
		esac
		if [ "$3" = 'print' ]; then
			echo -n "$IFACE"
		else
			[ "$(ifconfig $IFACE 2>/dev/null)" = '' ] && echo -n '<span class="content_warning">Not connected</span>' && exit 0
			ifconfig $IFACE
		fi
	;;
esac
